  .note {
    background-color: #fff;
    border-radius: 6px;
    padding: 2px 20px 10px 20px;
    text-align: left;
    margin: 10px 10px 10px 10px;
    width: 300px;
    font-size: 120%;
  }
  .description {
    display: block;
    color: #282c34;
    font-style: italic;
    margin-bottom: 20px;
  }
  .note p {
    color: #000;
    font-weight: bold;
    cursor: pointer;
  }
  .note .title{
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
  }
  .note button {
    margin: 4px 20px 2px 0px;
    background-color: rgb(129, 70, 240);
    color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 80%;
  }
  .note button:hover {
    background-color: rgb(129, 70, 200);
  }
  .note button.delete {
    background-color: rgb(238, 67, 55);
  }
  .note button.delete:hover {
    background-color: rgb(223, 57, 45);
  }
  h1{
    color: white;
  }
  .notes-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }